{% extends "base.html" %}

{% load static %}

{% block title %} Forum {% endblock %}
{% block content %}
{% for thread in threads %}
    <div class="panel panel-default" >
        <div class="panel-body">
            <h3><a href="{{thread.name}}">{{thread.name}}</a></h3>
            {% with count=thread.message_set.count %}
            <div>{{count}} message{{ count | pluralize}}</div>
            {% endwith %}
        </div>
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <div id="message_form" class="panel panel-default">
    <div class="panel-body">
        <form  method="POST" action="">
            <div class="form-group" >
                <label for="threadName"> Create your thread:  </label>
                <input id="threadName" type="text" class="form-control" name="threadName">
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>
    </div>
{% else %}
    <div class="alert alert-warning"> You should <a href="/login">log in</a> to
        be able to create threads </div>
{% endif %}



<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
{% endblock %}
