{% extends "base.html" %}

{% load static %}

{% block title %} Forum {% endblock %}
{% block content %}

<div id="message_container">
{% for message in messages %}
    <div class="panel panel-default" >
        <div class="panel-heading">{{ message.author.username }}</div>
        <div class="panel-body">
            {{ message.text }}
        </div>
        <div class="panel-footer">
            {% if user.is_authenticated %}
            <button by="{{message.author.username}}" class="btn btn-default" name="add_comment">Add comment</button>
            {% else %}
            You must be <a href="/login"> logged in </a> to leave comments
            {% endif %}
        </div>
    </div>
    
{% endfor %}
</div>


{% if user.is_authenticated %}
<div id="message_form" class="panel panel-default">
<div class="panel-body">
    <form  method="POST" action="">
        <div class="form-group" >
            <label> Add your message: </label>
            <input id="message" type="text" class="form-control" name="text">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>
</div>
</div>
{% else %}
<div class="alert alert-warning"> You should <a href="/login">log in</a> to 
    be able to leave messages </div>
{% endif %} 


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="{% static 'js/forum.js' %}"> </script>
{% endblock %}
