<html>
    <body>
        {% if user.is_authenticated %}
            <p>You are logged in as {{ user }}.</p>
        {% else %}
            <p>You are anonymous.</p>
        {% endif %}

        {% for message in messages %}
        <ul>
            <li>
                {{ message.text|upper }}
            </li>
        </ul>
        {% endfor %}

        <p>
            This is a forum template.
        </p>

        {% if user.is_authenticated %}
            <a href="/logout">logout</a>.
        {% else %}
            <a href="/login">login</a>.
        {% endif %}
    </body>
</html>
