{% extends "base.html" %}


{% block title %} Log In {% endblock %}

{% block content %}
 {% if errors %}
 <p class="error">{{ errors }}</p>
  {% endif %}

  <form class="col-sm-6" action="" method="post">
    <div class="form-group">
        <label for="username">User name:</label>
        <input class="form-control" type="text" name="username" value="" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" value="" id="password">
    </div>
    <input class="btn btn-default" type="submit" value="login" /> 

  or <a href="/register">register</a>.
  </form>

{% endblock %}
